package handlers

import (
	"log"
	"net/http"
	"os"
)

var logger = log.New(os.Stderr, "handlers", log.LstdFlags|log.Lshortfile)

func Register(mux *http.ServeMux) {
	mux.Handle("/api", apiHandler{})
	mux.Handle("/healthcheck", healthCheckHandler{})
	{{if .IsSite}}
	mux.Handle("/static/", http.StripPrefix("/static/", http.FileServer(http.Dir("./static"))))
	mux.Handle("/", indexHandler{})
	{{end}}
}
